<% include head %>
<div class="container">

  <div class="data-box">
    <img src="/img/person.png" class="profile-pic"> <!--Give data to 'alt' attribute-->
    <div class="pic-caption">
      <data class="text-align-center" title="Your Username">someone786</data>
    </div>

    <h1>Profile Info</h1>
    <div class="person-info">
      <div class="info-header">Name</div>
      <data>Some Thing</data>
    </div>
    <div class="person-info">
      <div class="info-header">Your Email</div>
      <data>something@else.com</data>
    </div>
  </div>

</div>

<script src="/js/profile.js"></script>
<% include foot %>
