:root {
  --body-fg-color: #868E96;
  --body-bg-color-1: #FC466B;
  --body-bg-color-2: #3F5EFB;
  --body-font: 'Rubik', sans-serif;
  --h-color: #343A40;
  --input-fg-color: #555;
  --input-color-placeholder: gray;
  --button-bg-color: #BD59D4;
  --button-bg-hover-color: #4B2354;
  --color-pink: #F64C72;
  --color-white: #EAE3EA;
}

body {
  font-family: var(--body-font);
  color: var(--body-fg-color);
  font-size: 1.2rem;
  background: linear-gradient(150deg, var(--body-bg-color-1) 5%, var(--body-bg-color-2) 100%) fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h-color);
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--body-bg-color-2);
  text-decoration: none;
  transition: all 0.8s;
}

a:hover {
  color: var(--body-bg-color-1);
}

.container {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255,255,255,0.8);
  width: 440px;
  border-radius: 1rem;
  padding-bottom: 3rem;
}
.form {
  text-align: left;
  width: 85%;
}

.input-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.input-label {
  line-height: 1.2;
  padding-left: 2px;
}
.input {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: 1.2rem;
  display: block;
  width: 100%;
  height: 3rem;
  background: transparent;
  font-size: 1.5rem;
  color: var(--input-fg-color);
  line-height: 1.2;
  padding: 0 2px;
  border-bottom: 2px solid var(--body-fg-color);
  transition: all 0.8s;
}
.input:focus {
	border-bottom: 2px solid var(--body-bg-color-1);
}
.input:focus::-webkit-input-placeholder { color:transparent; }
.input:focus:-moz-placeholder { color:transparent; }
.input:focus::-moz-placeholder { color:transparent; }
.input:focus:-ms-input-placeholder { color:transparent; }
.input::placeholder {
  font-size: 1rem;
  color: var(--input-color-placeholder);
}

.checkbox {
  display: none;
}
.checkbox-label {
  margin: 0;
  display: block;
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}
@media (min-width: 375px) {
  .checkbox-label {
    font-size: initial;
  }
}
.checkbox-label::before {
  /*
  content: "\f00c";
  font-family: FontAwesome;
  */
  content: "✔️";
  font-size: 0.8rem;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: rgba(164,81,174,0.8);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox:checked + .checkbox-label::before {
  color: rgb(255,255,255,0.8);
}

.button-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  height: 6rem;
}
@media (min-width: 375px) {
  .button-wrap {
    flex-direction: row;
    height: auto;
  }
}
.button {
  font-family: var(--body-font);
  padding: 0 20px;
  min-width: 10rem;
  height: 3rem;
  background-color: var(--button-bg-color);
  border-radius: 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  transition: all 1s;
  outline: none !important;
  border: none;
}
.button:hover {
  background-color: var(--button-bg-hover-color);
  cursor: pointer;
}
.link {
  padding-top: 5rem;
}

/* Landing page */
.landing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
@media (min-width: 375px) {
  .landing-title {
    flex-direction: row;
  }
  .landing-img {
	  padding-right: 10px;
  }
}

/* Signup Page */
.link-signin {
  margin-left: auto;
  font-size:1rem;
}
@media (min-width: 375px) {
  .link-signin {
    margin-left: initial;
  }
}

/* Signin Page */
.link-forget-password {
  font-size:1rem;
}

/* Profile Page */
.profile-img {
  margin-top: 2rem;
  border-radius: 50%;
  background-color: white;
}
.profile-info-box {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0.6rem 1rem 0.6rem 1rem;
  margin-bottom: 1rem;
  border-radius: .6rem 0 .6rem .6rem;
  background-color: white;
  text-align: left;
}
.profile-info-wrap {
  width: 100%;
  padding: 1rem 0;
  position: relative;
}
.profile-info-label {
  line-height: 1.2;
  padding-left: 2px;
}
.profile-info-text {
  font-family: var(--body-font);
  font-size: 1.2rem;
  display: block;
  font-size: 1.5rem;
  color: var(--input-fg-color);
  padding: 0 2px;
}
