
body {
  font-family: 'Rubik', sans-serif;
  color: #868E96;
  font-size: 1.2rem;
  background: linear-gradient(150deg, #FC466B 5%, #3F5EFB 100%) fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #343a40;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: #3F5EFB;
  text-decoration: none;
  transition: all 0.8s;
}

a:hover {
  color: #FC466B;
}

.container {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255,255,255,0.8);
  width: 440px;
  border-radius: 15px;
  padding-bottom: 3rem;
}
.form {
  text-align: left;
  width: 85%;
}
.input-wrap {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #868E96;
  margin-bottom: 2rem;
}
/*  To give highlight input region */
.input-focus {
	border-bottom: 3px solid #207cd8; /* color to be changed */
}
.input-blur {
	border-bottom: 2px solid #868E96;
}

.input-label {
  line-height: 1.2;
  padding-left: 2px;
}
.input {
  outline: none;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  height: 3rem;
  background: transparent;
  font-size: 1.5rem;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::placeholder {
  font-size: 1rem;
  color: gray;
}

.checkbox {
  display: none;
}
.checkbox-label {
  margin: 0;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}
.checkbox-label::before {
  /*
  content: "\f00c";
  font-family: FontAwesome;
  */
  content: "✔️";
  font-size: 0.8rem;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: rgba(164,81,174,0.8);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox:checked + .checkbox-label::before {
  color: rgb(255,255,255,0.8);
}
.button-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.button {
  padding: 0 20px;
  min-width: 10rem;
  height: 3rem;
  background-color: #bd59d4;
  border-radius: 1.8rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  transition: all 1s;
  outline: none !important;
  border: none;
}
.button:hover {
  background-color: #4b2354;
  cursor: pointer;
}
.link {
  padding-top: 5rem;
}



/*
CSS for Landing page
*/

.landing-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing-img {
	padding-right: 10px;
}

@media (min-width:768px) {
  .container-menu {
    width: 17rem;
    height: 100vh;
    padding-top: 0rem;
    position: fixed;
    left: 0px;
  }
  .container-content {
    margin-left: 17rem;
    width: 100%;
  }
}

.color-pink {
  color: #F64C72;
}
.color-white {
  color: #EAE3EA;
}
.inline-i-middle {
  display: inline-block;
}
.inline-i-middle i {
  vertical-align: middle;
}
.icon-inline {
  list-style: none;
  padding: 0;
}
.icon-inline li {
  text-decoration: none;
  background: #F64C72;
  padding: .8rem;
  border-radius: 50%;
  display: inline;
  margin-right: 1rem;
}
.icon-inline a {
  color: #343a40;
}
.icon-inline i {
  vertical-align: middle;
  padding-bottom: .2rem;
}
.icon-inline li:hover a {
  color: white;
}


/*
CSS for Profile Page
*/

.pic-wrap {
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: ;
  text-align: center;
  background: rgba(255,255,255,0.8);
  border: 10px solid transparent;
  border-radius: 15px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
}

.data-box {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255,255,255,0.8);
  width: 600px;
  border-radius: 15px;
  padding-bottom: 35px;
}

.data-box .text-align-center {
  text-align: center;
  align-content: center;
}


.info-header {
  text-align: left;
  padding-left: 15px;
}

data {
  display: block;
  padding-left: 20px;
  padding-bottom: 10px;
  text-align: left;
  color: #343a40;
  font-size: 30px;
  line-height: 2;
}

@media (max-width: 840px) {
  
  .pic-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 40px;
  }

  .data-box {
    box-sizing: border-box;
    width: 100%;
  }
}